/* Write your CSS here! */
body {
    margin: 8px;
}


#mainHeading {
    color: red
}

.funParagraph {
    color: green
}


body {

 

    background-color: white;
  
   
  
    background-color: rgba(0, 0, 0, .25);
  
    
  
    padding: 200px;
  
    
  
    background: url(https://drive.google.com/uc?export=view&id=1dYxWX_686gxLki9S4ukWA8nWibaOYxf0);
  
    
  
    }

    img {
        height: 100px;
        width: 150px;
    }
    